@font-face {
  font-family: "Goldplay";
  src: url("Goldplay-Bold.woff2") format("woff2"),
    url("Goldplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Goldplay Semibold";
  src: url("GoldplayAlt-SemiBold.woff2") format("woff2"),
    url("GoldplayAlt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Goldplay Black";
  src: url("Goldplay-Black.woff2") format("woff2"),
    url("Goldplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
