#project-1 {
    font-family: "Goldplay Bold";
    h4 {
        font-weight: bold;
        font-size: 1.4rem;
        color: #f05859;
    }
}
#project-2 {
    font-family: "Goldplay Bold";
    h4 {
        font-weight: bold;
        font-size: 1.4rem;
        color: #41a46a;
    }
}

