@font-face {
    font-family: "Goldplay";
    src: url("~@/assets/font/Goldplay.otf") format("otf");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Goldplay Bold";
    src: url("~@/assets/font/Goldplay-Bold.otf") format("otf");
    font-style: normal;
    font-display: swap;
    font-weight: bold;
}
