$blue_dark: #0f1b61;
$blue_light: #73bbc5;
$red: #e74c3c;
$pink: #f7809c;
$pink_light: #fff7f7;
$green: #1c494c;

// Media queries
$bp-large: 1264px; //1100px
$bp-tablet: 960px; //900px
$bp-small: 600px; //600px
$bp-smallest: 400px; //600px
