@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import url("https://cdn-scorpius.elifebackup.com/css/fonts/font.css");
@font-face {
  font-family: "Goldplay";
  src: url("https://cdn-scorpius.elifebackup.com/css/fonts/Goldplay.otf") format("otf"), url("https://cdn-scorpius.elifebackup.com/css/fonts/Goldplay.woff") format("woff"), url("https://cdn-scorpius.elifebackup.com/css/fonts/Goldplay.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Goldplay Bold";
  src: url("https://cdn-scorpius.elifebackup.com/css/fonts/Goldplay-Bold.otf") format("otf"), url("https://cdn-scorpius.elifebackup.com/css/fonts/Goldplay-Bold.woff") format("woff"), url("https://cdn-scorpius.elifebackup.com/css/fonts/Goldplay-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
/* Bob */
@keyframes hvr-bob {
  0% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
  animation-name: hvr-bob-float, hvr-bob;
  animation-duration: 0.3s, 1.5s;
  animation-delay: 0s, 0.3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
}

/* Sink */
.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
  transform: translateY(8px);
}

#project-1 {
  font-family: "Goldplay Bold";
}
#project-1 h4 {
  font-weight: bold;
  font-size: 1.4rem;
  color: #f05859;
}

#project-2 {
  font-family: "Goldplay Bold";
}
#project-2 h4 {
  font-weight: bold;
  font-size: 1.4rem;
  color: #41a46a;
}

.projects__card h3 {
  font-family: "Goldplay Bold";
}
.projects__card h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.center {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 960px) {
  .center {
    justify-content: center;
  }
}