html {
    // font-size: 62.5% !important; //1rem = 10px; 10px/16px=62.5%
}
@import "typo.scss";
@import "variables.scss";
@import "mixins.scss";
@import "animations.scss";
@import "home.scss";
@import "projects.scss";
.center {
    display: flex;
    justify-content: center;
    
    @media screen and (max-width: $bp-largest) {
        justify-content: flex-end;
    }
    @media screen and (max-width: $bp-tablet) {
        justify-content: center;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import url("https://cdn-scorpius.elifebackup.com/css/fonts/font.css");
